@model List<FileModelTable>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Название</th>
            <th scope="col">Владелец</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col">Скачать файл</th>
            <th scope="col">Получить расшифрованные данные</th>
            <th scope="col">Показать данные</th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i<Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td> <a href="@Url.Action(nameof(FileController.GetDataFile),"File", new {fileId = @Model[i].Id} )" > @Model[i].Name</a></td>
                
                @if(Model[i].User.FirstName+Model[i].User.SecondName+Model[i].User.ThirdName == string.Empty)
                {
                    <td>Нет владельца</td>
                }
                else
                {
                    <td>@Model[i].User.FirstName @Model[i].User.SecondName @Model[i].User.ThirdName</td>
                }

                <td>@Model[i].DateTme.Date.ToString("dd/MM/yyyy")</td>
                <td>@Model[i].DateTme.ToString("HH:mm:ss")</td>
                <td>
                    <form action="@Url.Action(nameof(FileController.DownloadFile),"File", Model[i].Id)">
                        <input type="hidden" name="id" value="@Model[i].Id"/>
                        <button class="btn btn-success" type="submit">Скачать</button>
                    </form>
                </td>
                <td>
                    <form action="@Url.Action(nameof(FileController.GetDecryptText),"File", Model[i].Id)">
                        <input type="hidden" name="id" value="@Model[i].Id"/>
                        <button class="btn btn-success" type="submit">Получить</button>
                    </form>
                </td>
                <td>
                    <form action="@Url.Action(nameof(FileController.GetDataFile),"File")">
                        <input type="hidden" name="fileId" value="@Model[i].Id"/>
                        <button class="btn btn-success" type="submit">Показать</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>