@model List<FileModelTable>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Название</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i<Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td> <a href="@Url.Action(nameof(FileController.GetDataFile),"File", new {fileId = @Model[i].Id} )" > @Model[i].Name</a></td>
                <td>@Model[i].DateTme.Date.ToString("dd/MM/yyyy")</td>
                <td>@Model[i].DateTme.ToString("HH:mm:ss")</td>
               @* <td>
                    <form action="@Url.Action(nameof(InfoController.InfoProduct),"Info")">
                        <input type="hidden" name="id" value="@Model[i].ProductId"/>
                        <button class="btn btn-success" type="submit">Подробнее о продукте</button>
                    </form>
                </td>*@
            </tr>
        }
    </tbody>
</table>